.drDown{

    background-color: #eabf27;
    padding: 10px 55px;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    float: right;
    
}
.drDown:focus,.drDown:active {
    outline: none !important;
    box-shadow: none;
 }
.drDown:active{
    background-color: #f2c637 !important;

}
.drDown:hover{
    background-color: #f2c637 !important;
}

.dropdown-toggle.btn-primary{
    background-color: #f2c637 !important;
}

.drDown:focus{
    background-color: #f2c637!important;
    box-shadow: none !important;
    
    
}

.item:focus{
    background-color: #f2c637 !important;
}

.header{
    margin-bottom: 2rem;
    margin-top: 4rem;
}